<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klipsch.mapper.AdProductMapper">

	<select id="getCategoryList" resultType="com.klipsch.domain.CategoryVO">
		select cg_code_pk, cg_code_pri, cg_name from category_tbl
		where cg_code_pri is null
	</select>
	
	<select id="getSubCategoryList" resultType="com.klipsch.domain.CategoryVO">
		select cg_code_pk, cg_code_pri, cg_name from category_tbl
		where cg_code_pri = #{cg_code_pk}
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							pdt_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'D'.toString()">
							pdt_detail like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							pdt_company like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
	</sql>
	
	
	<insert id="product_insert">
		insert into product_tbl(pdt_num_pk, cg_code_pri, cg_code_pk, pdt_name, pdt_price, pdt_discount, pdt_company, pdt_detail, pdt_img, pdt_amount, pdt_buy)
		values (seq_pdt_num.nextval, #{cg_code_pri}, #{cg_code_pk}, #{pdt_name}, #{pdt_price}, #{pdt_discount}, #{pdt_company}, #{pdt_detail}, #{pdt_img}, #{pdt_amount}, #{pdt_buy})
	</insert>
	
	<update id="product_modifyOk">
		update product_tbl 
		set cg_code_pri = #{cg_code_pri},
		    cg_code_pk = #{cg_code_pk},
		    pdt_name = #{pdt_name},
		    pdt_price = #{pdt_price},
		    pdt_discount = #{pdt_discount},
		    pdt_company = #{pdt_company},
		    pdt_detail = #{pdt_detail},
		    pdt_img = #{pdt_img},
		    pdt_amount = #{pdt_amount},
		    pdt_buy = #{pdt_buy},
		    pdt_date_upd = sysdate
		
		where pdt_num_pk = #{pdt_num_pk}
	</update>
	
	<select id="product_list" resultType="com.klipsch.domain.ProductVO">
		<![CDATA[
		select pdt_num_pk, cg_code_pk, cg_code_pri, pdt_name, pdt_price, pdt_discount, pdt_company, pdt_detail, pdt_img, pdt_amount, pdt_buy, pdt_date_sub, pdt_date_upd
		from (select /*+ index_desc(product_tbl pdt_num_pk) */ rownum rn, pdt_num_pk, cg_code_pk, cg_code_pri, pdt_name, pdt_price, pdt_discount, pdt_company, pdt_detail, pdt_img, pdt_amount, pdt_buy, pdt_date_sub, pdt_date_upd
     	  	  from product_tbl where pdt_num_pk > 0 and 
     	  	  
     	]]>
     	
     		<include refid="criteria"></include> 
     	  	  
     	<![CDATA[
     	  	  rownum > 0 and rownum <= (#{pageNum} * #{amount}))
     	  	  
		where rn > ((#{pageNum} - 1) * #{amount})
		]]>
	</select>
	
	<select id="getTotalCountProduct" resultType="int">
		
		select count(*) from product_tbl where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		pdt_num_pk > 0
		]]>		
	</select>
	
	<select id="product_modify" resultType="com.klipsch.domain.ProductVO">
		select * from product_tbl where pdt_num_pk = #{pdt_num_pk}
	</select>

	<delete id="product_delete">
		delete from product_tbl	where pdt_num_pk = #{pdt_num_pk}
	</delete>

</mapper>